/* Light theme */
[data-md-color-scheme="slate"] .md-header { background-color: #135715; }
[data-md-color-scheme="slate"] .md-tabs { background-color: #c0d1c1; }

/* Dark theme */
[data-md-color-scheme="default"] .md-header { background-color: #135715; }
[data-md-color-scheme="default"] .md-tabs { background-color: #031404; }
