/*Primary Thematic Colors*/
[data-md-color-scheme="default"] {
  --md-primary-fg-color: rgb(23, 30, 44);
  --md-accent-fg-color: rgb(23, 30, 44);
  --md-footer-fg-color: rgb(23, 30, 44);
  --md-card-a: rgba(209, 213, 218, 0.6);
  --md-card-a-hover: rgb(209, 213, 218);
  --md-default-table-header-text: #fff;
  --md-top: var(--md-default-bg-color);
  --md-typeset-link: rgb(0, 39, 12);
  --md-typeset-link-hover: rgba(61,139,63, 0.5);
  --md-typeset-a-color: rgb(61,139,63);
  --hotline: #fff820a1;
  --coldline: #35b9ff66;
}

[data-md-color-scheme="light"] {
  --md-default-bg-color: #171e2c;
  --md-accent-fg-color: rgba(69, 88, 110, 0.9);
  --md-primary-fg-color: #fff;
  --md-card-a: #1b253b;
  --md-card-a-hover: #293858;
  --md-default-table-header-text: #fff;
  --md-top: #1b253b;
  --md-typeset-link: rgb(250, 172, 2);
  --md-typeset-link-hover: rgba(61,139,63);
  --md-typeset-a-color: rgb(61,139,63);
  --hotline: #b7b10291;
  --coldline: #16aeff6e;
}