site_name: VATSSA eAIP
site_url: https://eaip2.vatssa.com
theme:
  logo: assets/Logo1.png
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky        
    - navigation.sections    
    - toc.integrate          
    - navigation.tracking
    - navigation.instant
    - navigation.instant.progress
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - tables

plugins:
  - search:
      lang: en
  - git-revision-date-localized:
      type: date
      strict: false
  - glightbox:
      touchNavigation: true
      effect: zoom
      width: 100%
      height: auto
      zoomable: true
      draggable: false
  - include-markdown:
      preserve_includer_indent: false
      dedent: false
      trailing_newlines: true
      comments: true
      rewrite_relative_urls: true
      recursive: true
  - awesome-pages:
        strict: false
        order: asc
        sort_type: natural
        order_by: title

extra_css:
  - styles/extra.css
